<div>
    All Articles
    <ul>
    {{#each articles}}
        
            <li>
                {{#if this.imgUrl}}
                <img src="{{this.imgUrl}}" />
                {{/if}}
                <div>{{this.title}}</div>
                <div>{{this.author}}</div>
                <div>{{this.summary}}</div>
            </li>
        
    {{/each }}
    </ul>
</div>